._1o4XrJgdCyl_140GQ-iE5p {
  position: -webkit-sticky;
  position: sticky;
  background: #abb0c3aa;
  top: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 100;
  -webkit-transition: background .2s linear;
  transition: background .2s linear;
}

._3xXzUW1j4jhJ-Uk7w7K5HG {
  background: none;
}

.xEi7ko1NwnW8me6cIrbLq {
  margin: auto;
  width: 90%;
  height: 100%;
  max-width: 800px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  flex-wrap: wrap;
}

._39evny_T0zfMPQqpj57AM_ {
  -webkit-box-flex: 0;
          flex: 0 1 calc(100%/7);
  text-align: center;
  padding: 5px 0;
}

._39evny_T0zfMPQqpj57AM_:hover {
  background: #aaaaaaee;
  color: white;
}

._1XBnnPJUbU3NfJhNf6BBYd {
  color: white;
  font-weight: bold;
}
